*{
	margin: 0;
	padding: 0;
	/* 内减模式 */
	box-sizing: border-box;
}

/* li标签去前面的小点 */
li{
	list-style: none;
}

/* 超链接去下划线 */
a{
	text-decoration: none;
}

/* 清除浮动影响，在li上级加 */
.clearfix:before,.clearfix:after{
	content: "";
	display: table;
}

.clearfix:after{
	clear: both;
}


/* body{
	background-color: pink;
} */

/* 版心居中 */
.wrapper{
	width: 1000px;
	margin: 0 auto;
}

/* 头部header------------------------ */
.header{
	height: 70px;
	margin: 20px auto;
}

.toplogo{
	text-align: center;
}

/* 导航------------------------------ */
.navlong{
	background-color: #89d5fa;
}
.nav{
	height: 80px;
	/* background-color: pink; */
}

.nav li{
	float: left;
}

.nav li a{
	display: block;
	margin-bottom: 20px;
	padding: 0 25px;
	height: 80px;
	line-height: 80px;
	font-size: 24px;
	color: #3d3d3d;
}

.nav li a:hover{
	background-color: deepskyblue;
	color: white;
}

/* 百度搜索框------------------------------ */
.baiduss{
	margin: 20px auto;
	height: 90px;
	padding-left: 20px;
	/* background-color: pink; */
}

.sousuologo{
	float: left;
	margin: 8px 20px;
	/* margin-top: 10px; */
	/* margin-right: 20px; */
	width: 200px;
	height: 50px;
	/* background-color: #ccc; */
}

.sousuologo img{
	width: 200px;
}

.sousuokuan{
	float: left;
	margin-top: 20px;
	width: 500px;
	height: 50px;
	/* background-color: #cb6; */
	text-align: center;
	line-height: 48px;
	border-radius: 10px;
}

.sousuokuan input{
	width: 500px;
	height: 50px;
	/* background-color: #fff; */
	border: 2;
	border-radius: 5px;
	border-color: #4e6ef2 ;
	/* color: blue; */
	padding: 10px;
	font-size: 18px;
}

.sousuoanniu{
	float: left;
	margin: 20px;
	width: 130px;
	height: 50px;
	/* background-color: green; */
}

.sousuoanniu button{
	width: 130px;
	height: 50px;
	background-color: #4e6ef2;
	color: #fff;
	font-size: 18px;
	border: 0;
	border-radius: 10px;
}





/* 常用平台--------------------------------- */
.changyongpt{
	/* height: 100px; */
	/* background-color: pink; */
}

.ptkapian{
	float: left;
	/* margin: 15px; */
	margin-right: 20px;
	margin-bottom: 20px;
	width: 320px;
	height: 70px;
	background-color: #f2f4f5;
	border-radius: 10px;
}

/* 清除3n右外边距 */
.changyongpt li:nth-child(3n){
	margin-right: 0;
}

.ptkapian a{
	display: block;
	width: 320px;
	height: 70px;
	/* background-color: pink; */
	border-radius: 10px;
	color: #3d3d3d;
}

.changyongpt a .zhutitu{
	float: left;
	margin: 10px;
	width: 50px;
	height: 50px;
	/* background-color: black; */
	border-radius: 10px;
}

.changyongpt a h3{
	line-height: 48px;
	font-size: 18px;
}

.changyongpt a p{
	line-height: 5px;
	font-size: 14px;
	color: #ababab;
}

.changyongpt a:hover{
	color: blue;
	background-color: #d3efff;
}




/* 版权-------------------------------- */
.banquan{
	margin-top: 10px;
	padding: 10px;
	/* height: 100px; */
	background-color: #eceded;
}

.bqneirong{
	text-align: center;
	font-size: 14px;
	line-height: 30px;
	color: #8b8b8b;
	/* background-color: green; */
}

.banquan a{
	display: inline-block;
	margin: 5px;
	/* padding: 20px; */
	width: 100px;
	height: 30px;
	color: #6a6a6a;
	/* background-color: pink; */
}

.banquan a:hover{
	color: red;
}





/* 悬浮小标--------------------- */

.changyongpt li{
	position: relative;
}

.changyongpt li .xiaobiao{
	position: absolute;
	top: 4px;
	right: -4px;
}

