*{
	margin: 0;
	padding: 0;
	/* 内减模式 */
	box-sizing: border-box;
}

/* li标签去前面的小点 */
li{
	list-style: none;
}

/* 超链接去下划线 */
a{
	text-decoration: none;
}

/* 清除浮动影响，在li上级加 */
.clearfix:before,.clearfix:after{
	content: "";
	display: table;
}

.clearfix:after{
	clear: both;
}


/* body{
	background-color: pink;
} */

/* 版心居中 */
.wrapper{
	width: 1000px;
	margin: 0 auto;
}

/* 头部header------------------------ */
.header{
	height: 70px;
	margin: 20px auto;
}

.toplogo{
	text-align: center;
}

/* 导航------------------------------ */
.navlong{
	background-color: #89d5fa;
}
.nav{
	height: 80px;
	/* background-color: pink; */
}

.nav li{
	float: left;
}

.nav li a{
	display: block;
	padding: 0 25px;
	height: 80px;
	line-height: 80px;
	font-size: 24px;
	color: #3d3d3d;
}

.nav li a:hover{
	background-color: deepskyblue;
	color: white;
}

/* 说明------------------------- */
.shuoming{
	margin: 20px auto;
	width: 1000px;
	height: 50px;
	/* background-color: pink; */
	text-align: center;
	font-size: 14px;
	color: #3d3d3d;
	line-height: 25px;
}


/* 软件清单--------------------------------- */
.box{
	margin-top: 20px;
	/* height: 100px; */
	/* background-color: pink; */
}

.box li{
	float: left;
	/* margin: 15px; */
	margin-right: 20px;
	margin-bottom: 20px;
	width: 235px;
	height: 70px;
	/* background-color: #f2f4f5; */
	border-radius: 10px;
	border: 1px solid #d0d0d1;
}

/* 清除3n右外边距 */
.box li:nth-child(4n){
	margin-right: 0;
}

.box a{
	display: block;
	width: 233px;
	height: 68px;
	/* background-color: pink; */
	border-radius: 10px;
	color: #3d3d3d;
}

.box a img{
	float: left;
	margin: 10px;
	width: 50px;
	height: 50px;
	/* background-color: black; */
	border-radius: 10px;
}

.box a h3{
	line-height: 48px;
	font-size: 14px;
}

.box a p{
	line-height: 5px;
	font-size: 12px;
	color: #ababab;
}

.box a:hover{
	color: blue;
	background-color: #d0d0d1;
}




/* 版权-------------------------------- */
.banquan{
	margin-top: 10px;
	padding: 10px;
	/* height: 100px; */
	background-color: #eceded;
}

.bqneirong{
	text-align: center;
	font-size: 14px;
	line-height: 30px;
	color: #8b8b8b;
	/* background-color: green; */
}

.banquan a{
	display: inline-block;
	margin: 5px;
	/* padding: 20px; */
	width: 100px;
	height: 30px;
	color: #6a6a6a;
	/* background-color: pink; */
}

.banquan a:hover{
	color: red;
}


/* h1--------------------- */
h1{
	text-align: center;
	font-size: 60px;
	color: #3d3d3d;
}

h1:hover{
	color: red;
}